{%extends 'students/layout.html' %} {%block content%}
<div class="row">
    <div class="col-sm-2"></div>


    <div class="shadow p-4 mb-5 bg-body rounded col-md-8">
        <center>

            <h3>Details d'un Etudiant</h3>
            <!-- <img class="img-fluid rounded-rectangle" src="{{student.image.url}}" width="300" height="200"/> -->

            </br><br>
            <table class="table table-bordered table-striped table-hover">
                <tbody>
                    <tr class="success">

                        <td><strong>ID: </strong>{{student.id}}</td>
                    </tr>

                    <tr class="success">
                        <td><strong>Nom et Prenom:</strong> {{student.name}}</td>
                    </tr>

                    <tr class="success">
                        <td><strong>Genre:</strong> {{student.gender}}</td>
                    </tr>

                    <tr class="success">
                        <td><strong>Email:</strong> {{student.email}}</td>
                    </tr>


                    <tr class="success">
                        <td><strong>Remarque:</strong> {{student.description}}</td>
                    </tr>
                </tbody>
            </table>





            {%endblock%}